{% extends "base.html" %}{% block title %}RemotEye - {{ current_user.role }}{% endblock %}
<script src="{{ url_for('static', filename='index.js') }}"></script>
{% block content %}
    {% include "upload-image-modal.html" %}
    {% include "create-architecture-modal.html" %}
    <h3 class="modal-title">Assignment</h3>
    <table class="table table-hover table-dark">
        <tr>
            <td>
                <div class="w-25">

                    <div class="container">
                        <div class="row">
                            <div class="col col-md">

                                <h5>New image</h5>
                                <button type="button"
                                        class="btn btn-primary"
                                        data-toggle="modal"
                                        data-target="#upload_image"
                                        formaction="1klasse.html">Upload image
                                </button>
                            </div>
                                <div class="col col-md">
                                <div class="next">
                                    <h5>New assignment</h5>
                                    <button type="button"
                                            class="btn btn-primary"
                                            data-toggle="modal"
                                            data-target="#create-architecture"
                                            formaction="1klasse.html">Create assignment
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>


    <table class="table table-hover table-dark">
        <h3 class="modal-title">These are your images:</h3>
        <tr>
            <thead>
            <tr>
                <th scope="col"> #</th>
                <th scope="col"> Name</th>
                <th scope="col"> Format</th>
            </tr>
            </thead>

            {% for image in images %}
                <tr>

                    <th scope="row"> {{ loop.index }} </th>
                    <td> {{ image.name }} </td>
                    <td> {{ image.format }} </td>

                    <td>
                        <a href=""
                           class="btn btn-danger btn-xs float-right"
                           id="button_delete_image-{{ image.id }}"
                           onclick="deleteImage(this.id)">Delete</a>

                    </td>
                </tr>
            {% endfor %}


    </table>

        <table class="table table-hover table-dark">
        <h3 class="modal-title">These are your assignment:</h3>
        <tr>
            <thead>
            <tr>
                <th scope="col"> #</th>
                <th scope="col"> Name</th>
                <th scope="col"> Expiration date</th>
                <th scope="col"> description</th>
            </tr>
            </thead>

            {% for assignment in created_assignments %}
                <tr>

                    <th scope="row"> {{ loop.index }} </th>
                    <td> {{ assignment.name }} </td>
                    <td> {{ assignment.expiration_date }} </td>
                    <td> {{ assignment.description }} </td>

                    <td>
                        <a href=""
                           class="btn btn-danger btn-xs float-right"
                           id="button_delete_assignment-{{ assignment.name }}"
                           onclick="deleteAssignment(this.id)">Delete</a>

                    </td>
                </tr>
            {% endfor %}


    </table>
{% endblock %}