<div id="change_role" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">Choose role</h4>
            </div>
            <div class="modal-body">

                <select class="form-select form-select-lg mb-3"
                        aria-label=".form-select-lg example"
                        id="change role">
                    <option value="Student" name="role_Student">Student</option>
                    <option value="Professor" name="role_Professor">Professor</option>
                    <option value="Admin" name="role_name">Admin</option>
                </select>
                <button class="btn btn-primary float-right"
                        onclick="onRoleChange()">Change role
                </button>

            </div>
            <div class="modal-footer">

                <button type="button"
                        class="btn btn-secondary"
                        data-dismiss="modal">Close
                </button>

            </div>
        </div>
    </div>
</div>