<div id="create-group-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">New group</h4>
            </div>
            <div class="modal-body">
                    <div class="form-group">
                        <label>Name:</label>
                        <input id="name-for-group"
                               type="text"
                               class="form-control">

                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary float-right"
                                onclick="createGroup()">Create group
                        </button>

                    </div>
            </div>
            <div class="modal-footer">

                <button type="button"
                        class="btn btn-secondary"
                        data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>