{% extends "base.html" %}{% block title %}HandyCloud - Admin{% endblock %}

{% block content %}
    <h1> HandyCloud - rezerwacja zasobów </h1>
    <h3>Admin: </h3>

    <form method="post" action="/main">

        <div class="w-25">
            <label for="time">Timer</label>
            <input
                    class="form-control"
                    name="time"
                    placeholder="Enter minutes <240"
            />
        </div>

        <div align="center">

            <input type="submit"
                   value="create instance"
                   class="btn btn-primary mb-3"
                   name="action1"
            />

            <input type="submit"
                   value="delete instance"
                   class="btn btn-primary mb-3"
                   name="action2"
            />

        </div>
        <div class="container">
            <div class="row">
                <table class="table table-hover table-dark">
                    <h2> Manage <b> Users </b></h2>
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">EMAIL</th>
                        <th scope="col">NAME</th>
                    </tr>
                    </thead>

                    {% for user in users %}
                        <tr>
                            <th scope="row">{{ user.id }}
                            </th>
                            <td>{{ user.email }}
                            </td>
                            <td>{{ user.first_name }}
                            </td>
                            <td>
                                <a href="" class="btn btn-danger btn-xs float-right"
                                   onclick="return confirm('Are you sure to delete?')">Delete</a>

                                <a href="" class="btn btn-warning btn-xs float-right" data-toggle="modal"
                                   data-target="#modaledit">Edit</a>

                                <a href="" class="btn btn-success btn-xs float-right" data-toggle="modal"
                                   data-target="#modaledit">Add user to group</a>

                                <a href="" class="btn btn-primary btn-xs float-right" data-toggle="modal"
                                   data-target="#modaledit">Change role</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </form>
{% endblock %}