{% extends "base.html" %}{% block title %}RemotEye - {{ current_user.role }}{% endblock %}
<script src="{{ url_for('static', filename='index.js') }}"></script>

{% block content %}
    <h1> RemotEye - rezerwacja zasobów </h1>
    <h3> {{ current_user.role }}: </h3>

    <form method="get" action="/main">

        <div class="container">
            <div class="table-responsive">
                {% include "table-users.html" %}
            </div>
        </div>

        <div class="container">
            <div class="row">

                {% include "table-groups.html" %}
            </div>
        </div>


        <div class="container">
            <div class="row">

                {% include "professors-groups.html" %}

            </div>
        </div>
        {% include "create-group-modal.html" %}

        {% include "change-role-modal.html" %}

        {% include "add-user-to-group-modal.html" %}


    </form>
{% endblock %}