{% if user_has_permission("groups_for_current_professor") %}
    <div class="jumbotron p-3">
        <h2> These are your <b> groups </b></h2>
        <table class="table table-hover table-dark">

            <thead>
            <tr>
                <th scope="col"> #</th>
                <th scope="col"> Name</th>
            </tr>
            </thead>

            {% for group in groups_for_current_professor %}
                <tr>
                    <th scope="row"> {{ loop.index }}
                    <td> {{ group.name_group }} </td>

                    <td>
                        <a href="" class="btn btn-danger btn-xs float-right"
                           onclick="return confirm('Are you sure to delete?')">Delete</a>

                        <a href="" class="btn btn-warning btn-xs float-right" data-toggle="modal"
                           data-target="#modaledit">Edit</a>

                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endif %}
