{% if user_has_permission("table_users") %}
    <div class="jumbotron p-3">
        <h2> Manage <b> Users </b>
            <button type="button"
                    class="btn btn-primary float-right"
                    data-toggle="modal"
                    data-target="#create-group-modal">Create group
            </button>
        </h2>

        <table class="table table-hover table-dark">
            <thead>
            <tr>
                <th scope="col"> #</th>
                <th scope="col"> EMAIL</th>
                <th scope="col"> NAME</th>
                <th scope="col"> ROLE</th>
            </tr>
            </thead>

            {% for user in users %}
                <tr>

                    <th scope="row"> {{ user.id }} </th>
                    <td> {{ user.email }} </td>
                    <td> {{ user.first_name }} </td>
                    <td> {{ user.role }} </td>

                    <td>
                        <a href=""
                           class="btn btn-danger btn-xs float-right"
                           onclick="return confirm('Are you sure to delete?')">Delete</a>

                        <a href=""
                           class="btn btn-warning btn-xs float-right"
                           data-toggle="modal"
                           data-target="#modaledit">Edit</a>

                        <a href=""
                           class="btn btn-success btn-xs float-right"
                           data-toggle="modal"
                           data-target="#add_user_to_group"
                           id="button_add_user_to_group-{{ user.id }}"
                           onclick="sendIdButtonForUser(this.id)">Add user to group</a>


                        {% if user_has_permission("change_role") %}
                            <a href=""
                               class="btn btn-primary btn-xs float-right"
                               data-toggle="modal"
                               data-target="#change_role"
                               id="button_change_role-{{ user.id }}"
                               onclick="sendIdButtonForUser(this.id)">Change role</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endif %}