<div id="upload_image" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">Upload image</h4>
            </div>
            <div class="modal-body">

                <form action="/upload-image"
                      method="POST"
                      enctype="multipart/form-data">

                    <h6 class="modal-title">Choose image name:</h6>
                    <input id="image-name"
                           type="text"
                           class="form-control"
                           placeholder="name:">

                    <h6 class="modal-title">Choose image format:</h6>
                    <select class="form-select form-select-lg mb-3"
                            aria-label=".form-select-lg example"
                            id="choose-image-format">
                        <option value="" name="format-ISO">Formats:</option>
                        <option value="iso" name="format-ISO">ISO - Optical Disk Image</option>
                        <option value="ploop" name="format-PLOOP">PLOOP - Virtuozzo/Parallels Loopback Disk</option>
                        <option value="qcow2" name="format-QCOW2">QCOW2 - QEMU Emulator</option>
                        <option value="raw" name="format-Raw">Raw</option>
                        <option value="vdi" name="format-VDI">VDI - Virtual Disk Image</option>
                        <option value="vhd" name="format-VHD">VHD - Virtual Hard Disk</option>
                        <option value="vdmk" name="format-VMDK">VMDK - Virtual Machine Disk</option>
                        <option value="aki" name="format-AKI">AKI - Amazon Kernel Image</option>
                        <option value="ami" name="format-AMI">AMI - Amazon Machine Image</option>
                        <option value="ari" name="format-ARI">ARI - Amazon Ramdisk Image</option>
                    </select>

                    <div class="form-group">
                        <div class="custom-file">
                            <p id="msg"></p>
                            <input type="file"
                                   class="custom-file-input"
                                   name="file"
                                   id="file"
                                   multiple="multiple">

                            <label class="custom-file-label"
                                   id="upload-label"
                                   for="file">Select image...
                            </label>
                            <span id="upload-text">No file chosen, yet.</span>
                        </div>
                        <script>
                            const fileSelector = document.getElementById('file');
                            let uploadText = document.getElementById("upload-text")
                            fileSelector.addEventListener('change', (event) => {
                                uploadText.innerText = fileSelector.value
                            });
                        </script>


                    </div>

                    <button type="button"
                            id="upload-button"
                            class="btn btn-primary"
                            onclick="uploadImage()">Upload
                    </button>

                </form>
            </div>
            <div class="modal-footer">

                <button type="button"
                        class="btn btn-secondary"
                        data-dismiss="modal">Close
                </button>
            </div>
        </div>
    </div>
</div>